/*App*/

.app{
    min-height: 100vh;
    position:relative;
}

/*Classes*/

.bg0{
    background-color: rgba(255, 255, 255, 0);
    outline:none;
}
.bg1{
    background-color: #0e126e;
}
.bg2{
    background-color: #4abcfd;
}
.bg3{
    background-color: red;
}
.bg4{
    background-color: #E5E7FF;
    border: solid 2px #0e126e;
}
.bg5{
    background-color: rgb(39, 39, 39);
}
.bg6{
    background-color: rgb(0, 175, 0);
}
.bg7{
    background-color: #d8f3ff;
    border: 2px solid #4abcfd;
    color:#00B3FF;
}
.bg8{
    background-color: rgb(159, 255, 159);
    border: 2px solid rgb(0, 175, 0);
    color:rgb(0, 175, 0);
}
.bg9{
    background-color: rgb(255, 164, 164);
    border: 2px solid red;
    color:red;
}.bg10{
    background-color: rgba(0, 0, 0, 0.39);
}

.tx1{
    color:#0e126e;
}
.tx2{
    color:#00B3FF;
}

.ho1{
    transition: 200ms ease-in-out;
    cursor:pointer;
}
.ho1:hover{
    transform: scale(0.98);
    opacity: 0.9;
}
.a{
    text-decoration: none;
    cursor: pointer;
}
.z1{
    z-index: 999;
}
.z2{
    z-index: 900;
}
.z3{
    z-index: 850;
}
.appTotal{
    height:100%;
}
.top1{
    position:sticky;
    min-height:100vh;
    top:0;
}
.up{
    text-transform: uppercase;
}
.scroll1{
    overflow: hidden;
}
.scroll2{
    overflow-y: scroll;
}
/* Largura da barra de rolagem */
.scroll2::-webkit-scrollbar {
  width: 10px;
  display:none;
}

/* Fundo da barra de rolagem */
.scroll2::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Estilo do "thumb" (a parte que você arrasta) */
.scroll2::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

/*Login*/

#loginUnidades{
    height: 100vh;
}
#loginUnidades > div > button{
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
    border:none;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius:15px
}
#input > input{
    line-height: 4rem;
    border:2px #4abcfd solid;
    border-radius: 100px;
    outline: none;
    font-size: 1rem;
    padding-left: 6rem;
    color:rgb(56, 56, 56);
}
#input > div{
    line-height:4rem;
    border:2px #4abcfd solid;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
#input > select{
    appearance: none;
    height: 4.3rem;
    border:2px #00B3FF solid;
    border-radius: 100px;
    outline: none;
    font-size: 1rem;
    padding-left: 6rem;
    padding-right:7rem;
    color:rgb(56, 56, 56);
}

/*Home Admin (Unidades)*/
#numbers{
    background: #D5ACE8;
    background: linear-gradient(225deg, rgba(213, 172, 232, 1) 0%, rgba(142, 148, 255, 1) 100%);
}
#numbers2{
    background: #D5ACE8;
    background: linear-gradient(45deg, rgba(213, 172, 232, 1) 0%, rgba(142, 148, 255, 1) 100%);
}

/*EditUnidade*/
#divUnidade{
    background: #8E94FF;
    background: linear-gradient(45deg, rgba(142, 148, 255, 1) 19%, rgba(0, 179, 255, 1) 47%, rgba(161, 184, 242, 1) 73%, rgba(213, 172, 232, 1) 100%);
}

/*Painel*/
#video{
    width:100%;
    height:83.5%;
}